body{
    background: rgb(75, 75, 75);
    color: 
    rgb(255, 255, 255);
}
.container{
    border:1px solid red;
    padding:5px;
    cursor:pointer
}
.my-class{
    background-color: yellow;
    
}

.container{
    display: flex;
}
ul{
    margin: auto;

    li{
        list-style-type: none;
        float: left;
        padding: 0 10px;
    }
}