:root{
    --primiary-color: red;
}

body{

    background: #0e313b;color: aliceblue;
}
a{
    color:aquamarine ;
}
a:active{
    color: green ;
}
a:hover{
    color: red;
}

a:visited{
    color:ghostwhite ;
}
#div3{
    color: red;
}

input{
    color: red;
}
input[type="text"]::placeholder{
    color: yellow;
}
select{
    color: aqua;
}

.d{
    border: 2px solid;
    display: block;
    width: 100px;
}
.dropdown{
    position: relative;
}

.dropdown-list{
    display: none;
    z-index: 111;

}
.dropdown:hover .dropdown-list{
    display: inline-block;
   }
   @media screen and (min-width: 480px) and (max-width: 768px){ /*use to inbetween the pix */
    body{
        background: red;
    }
   }
.flex-item
{
    display: flex;
    flex-direction: row;
}
/* The flex property is a shorthand property for the flex-grow, flex-shrink, and flex-basis properties.
style="flex: 0 0 200px" */
